@{
    ViewData["Title"] = "SEO services offered by TechVesta";
}
<div class="slider-container">
    <div class="slider" id="revolutionSlider">
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                <img src="~/img/seo.jpg" width="100%" data-fullwidthcentering="on" alt="Web Designing Company" title="Web Designing Company">
            </li>

        </ul>
    </div>
</div>

<div class="container">

    <hr class="tall">

    <div class="row">


        <div class="span8">


            <h1>Search Engine Optimization</h1>

            <p style="text-align:justify;">Search Engine Optimization (SEO) Optimise your website content, so that your website achieves higher rankings in major search engine such as Google, Bing, or Yahoo, and boost the rankings of your website. Optimising your website will help your business reach the lager target audience so that customers can find the relevant products and services offered by your business. <br /><br />Creating an effective SEO is a multi-step and continuous process which depends on the following factors: </p>

            <ul class="list icons">
                <li><i class="icon-ok"></i>A secure and accessible website </li>
                <li><i class="icon-ok"></i>Mobile friendliness</li>
                <li><i class="icon-ok"></i>Page speed of website</li>
                <li><i class="icon-ok"></i>Domain Age, URL, and Authority</li>
                <li><i class="icon-ok"></i>Optimized Contents (Web contents with keywords)</li>
                <li><i class="icon-ok"></i>Technical SEO</li>
                <li><i class="icon-ok"></i>User Experience (Rank Brain)</li>
                <li><i class="icon-ok"></i>Links (Inbound, Outbound & Internal links)</li>
                <li><i class="icon-ok"></i>Social Signals</li>
                <li><i class="icon-ok"></i>Real Business Information</li>

            </ul>
            <br />
            <h1>OUR SEO METHODOLOGY </h1>
            <p style="text-align:justify;">At Techvesta, our SEO experts use a methodology based on credible tactics. We identify the ideal mix of strategies to accomplish your specific goals - ensuring both the cost-effective marketing solutions and the quality results. Our strategies include:</p>

            <ul class="list icons">
                <li><i class="icon-ok"></i><strong>In depth research:</strong> We will thoroughly research your brand and vision to develop an ideal set of techniques that will create the best possible results for your business.</li>
                <li><i class="icon-ok"></i><strong>Keyword Phrase Identification:</strong> Success of search engine marketing largely depends on the selection of right keywords for your website. Right keywords not only describe your business properly but also bring in traffic to your website. </li>
                <li><i class="icon-ok"></i><strong>Website Optimization:</strong> We can help you designing a Search Engine friendly website.</li>
                <li><i class="icon-ok"></i><strong>Content Optimization:</strong> The quality of your website contents is one of the most important search ranking factors. So, we will help you designing web pages with high keyword density and relevant quality texts.</li>
                <li><i class="icon-ok"></i><strong>HTML Code Optimization:</strong> Putting Tags on your website such as Title Tags, Keyword Tags and Description Tags etc..</li>
                <li><i class="icon-ok"></i><strong>Website Link Renaming:</strong> Website's better-quality link architecture increases the chances of Google bots being re directed to the maximum pages of your website resulting directing higher traffic to your website. </li>
                <li><i class="icon-ok"></i><strong>Creation of Sitemap:</strong> Provide valid links for search engine spiders (Web Crawler) to all pages of your website..</li>
                <li><i class="icon-ok"></i><strong>Submission to Search Engines:</strong> We manually submit the optimized page URLs to the major search engines and business directories.</li>
                <li><i class="icon-ok"></i><strong>Regular Reporting & Monitoring:</strong> Once the submissions are done, the only thing left to do is wait for your rankings to roll in. In general, it takes 2-3 months for your website to show up in search engines.</li>
            </ul>


            <p style="text-align:justify;">
                SEO requirements keep changing, and it can be hard to keep up with the latest developments. However, at Techvesta, our team is professionally qualified, and they can help you to promote your website with quality leads and increased customer engagement & exposure.
            </p>

        </div>

        <br><br><br><br>
        <div class="span4">
            <center><img src="~/img/s1.jpg" width="90%"></center><br>
            <center><img src="~/img/s2.png" width="90%"></center><br>
            <center><img src="~/img/s3.jpg" width="90%"></center><br>
            <center><img src="~/img/s4.png" width="90%"></center><br><br>
            <center><img src="~/img/s5.png" width="90%"></center><br>
        </div>
    </div>
</div>