@{
    ViewData["Title"] = "Software Development";
}
<div class="slider-container">
    <div class="slider" id="revolutionSlider">
        <ul>
            <li>
                <img src="~/img/software.jpg" width="100%" data-fullwidthcentering="on" alt="Web Designing Company" title="Web Designing Company">
            </li>

        </ul>
    </div>
</div>

<div class="container">

    <hr class="tall">

    <div class="row">


        <div class="span8">


            <h1>Software Development <span style="font-size:18px;">Who Help Brands with Big Ideas.  </span></h1>
            <p style="text-align:justify;">
                Software development is the process of conceiving, specifying, designing, programming, documenting, testing, and bug fixing involved in creating and maintaining applications, frameworks, or other software components.<br>
                <br>

                Software itself is the set of instructions or programs that tell a computer what to do. It is independent of hardware and makes computers programmable. There are three basic types:
            </p>
            <h4 class="spaced">System software </h4>
            <p style="text-align:justify;">
                To provide core functions such as operating systems, disk management, utilities, hardware management and other operational necessities.
            </p>


            <h4 class="spaced">Programming software </h4>
            <p style="text-align:justify;">
                To give programmers tools such as text editors, compilers, linkers, debuggers, and other tools to create code.
            </p>

            <h4 class="spaced">Application software (applications or apps) </h4>
            <p style="text-align:justify;">
                To help users perform tasks. Office productivity suites, data management software, media players and security programs are examples. Applications also refers to web and mobile applications like those used to shop on Amazon.com, socialize with Facebook or post pictures to Instagram. <br />Our experienced team provides reliable software solutions to individuals and businesses from a broad range of industries. We cover areas such as SaaS, mobile apps (Android, iOS, Windows Mobile), desktop applications (Windows, macOS, Linux), and web solutions.
            </p>




        </div>


        <br><br><br><br>
        <div class="span4">
            <center><img src="~/img/sw1.png" width="90%"></center><br>
            <center><img src="~/img/sw2.png" width="90%"></center>
        </div>






    </div>
</div>