@{
    ViewData["Title"] = "Web Development offered by TechVesta";
}

<div class="slider-container">
    <div class="slider" id="revolutionSlider">
        <ul>
            <li>
                <img src="~/img/development.jpg" width="100%" data-fullwidthcentering="on" alt="Web Designing Company" title="Web Designing Company">
            </li>

        </ul>
    </div>
</div>

<div class="container">

    <hr class="tall">

    <div class="row">


        <div class="span8">

            <h1 title="Website Development Agency ">Web Solutions <span style="font-size:18px;">“We don’t sell what we have...we work hard for what you need...” </span></h1>

            <p style="text-align:justify;">
                Web development or website development broadly refers to the tasks (the coding or programming) that enables website functionality as per the owner's requirements. The web development process includes all related development tasks, such as client-side scripting, server-side scripting, server and network security configuration, ecommerce development, and content management system (CMS) development.<br>
                <br>

                At present, your digital presence is essential to keep your business rolling. A website is not just to reflect the products and/or services you offer, but your capability to deliver the overall user experience.  This is not just to create the brand awareness for you, but also generate new customers or quality leads to your business which is well needed for any business.   <br>
                <br>
                We offer a wide range of services to our customers specialised in:
            </p>

            <ul class="list icons">
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Corporate Website</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Responsive Website</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>E-Learning</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Website Revamping</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Interactive Website</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Website Maintenance</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Website Hosting</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Shopping Cart and E-commerce</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>Payment Gateway integration</li>
                <li style="margin-left:20px;"><i class="icon-cloud-download"></i>CMS solutions</li>
            </ul>

            <p style="text-align:justify;">
                At Techvesta, we help business realise their objectives blending the right strategy, technology and design ensures that we deliver a solution exceed the expectations of our customers. Our professionals satisfy and excite our clients by offering technology leadership, implementation and project management that help to achieve real business value.
            </p>



        </div>
        <br><br><br><br>
        <div class="span4">
            <center><img src="~/img/w1.jpg" width="90%"></center>
            <center><img src="~/img/w2.jpg" width="90%"></center>
        </div>






    </div>
</div>