@{
    ViewData["Title"] = "Hosting Plans";
}
    <div class="container">
        <hr>
        <br><br>
        <div class="row">
            <div class="span4">
                <div style="height:220px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:50px;">Linux Plan NZD 175.00/month</h3><hr />
                        <div class="submenu">
                            Single Domain<br />
                            Unlimited Space<br />
                            Unlimited Bandwidth<br />
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="175.00" asp-route-planName="Linux Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="175" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 month" />
                                <input type="hidden" name="planvalid" value="Linux Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
            <div class="span4">
                <div style="height:220px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:50px;">Windows Plan NZD 230.00/month </h3><hr />
                        <div class="submenu">
                            Single Domain<br>
                            Unlimited Space<br>
                            Unlimited Bandwidth<br>
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="230.00" asp-route-planName="Windows Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="230" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="validity" value="1 month" />
                                <input type="hidden" name="planvalid" value="Windows Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
            <div class="span4">
                <div style="height:220px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:50px;">E-Commerce Plan NZD 265/month</h3><hr />
                        <div class="submenu">
                            500 Product <br /><br /><br />
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="265.00" asp-route-planName="E-Commerce Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="265" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 month" />
                                <input type="hidden" name="planvalid" value="E-Commerce Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div style="text-align:center;">***All prices include 15% GST***</div>
    </div>