@{
    ViewData["Title"] = "Plans offered by TechVesta";
}
<div class="container">

    <hr>
    <br><br>
    <div class="row">
        <div class="span3">
            <center>
                <a asp-action="WebsitePlan" asp-controller="Plan"> <img src="~/img/WEBSITE.png"></a>
            </center> <br>
        </div>

        <div class="span3">
            <center>
                <a asp-action="HostingPlan" asp-controller="Plan"> <img src="~/img/webhosting.png"></a>
            </center> <br>
        </div>

        <div class="span3">
            <center>
                <a asp-action="SeoPlan" asp-controller="Plan"> <img src="~/img/SEO.png"></a>
            </center> <br>
        </div>

        <div class="span3">
            <center>
                <a asp-action="SupportPlan" asp-controller="Plan"> <img src="~/img/SUPPORT.png"></a>
            </center> <br>
        </div>
    </div>
</div>