    @{
        ViewData["Title"] = "SEO Plans";
    }
    <div class="container">

        <hr>
        <br><br>
        <div class="row">


            <div class="span4">

                <div style="height:180px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:30px;">MINI Plan <br />NZD 895.00</h3>
                        <div class="submenu">
                            5 Keywords <br><br>

                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="895.00" asp-route-planName="MINI Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="895" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="MINI Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>

            </div>

            <div class="span4">

                <div style="height:180px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:30px;">STARTER Plan <br />NZD 1785.00</h3>
                        <div class="submenu">
                            10 Keywords<br><br>
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="1785.00" asp-route-planName="STARTER Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="1785" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="STARTER Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>

            </div>

            <div class="span4">

                <div style="height:180px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:30px;">BRONZE Plan <br />NZD 2675.00</h3>
                        <div class="submenu">
                            20 Keywords<br><br>
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="2675" asp-route-planName="BRONZE Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="2675" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="BRONZE Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>

            </div>


        </div>
        <br><br>

        <div class="row">


            <div class="span4">
                <div style="height:180px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:20px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:30px;">SILVER Plan <br />NZD 3575.00</h3>
                        <div class="submenu">
                            40 Keywords<br /><br />
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="3575.00" asp-route-planName="SILVER Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="3575" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="SILVER Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>




            <div class="span4">
                <div style="height:180px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:20px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:30px;">GOLD Plan <br />NZD 4355.00</h3>
                        <div class="submenu">
                            80 Keywords<br><br>
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="4355.00" asp-route-planName="GOLD Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="4355" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="GOLD Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>


            </div>

            <div class="span4">
                <div style="height:180px;width:200px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:20px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:30px;">Customize Plan <br />NZD 5355.00</h3>
                        <div class="submenu">
                            As per the requirement <br /> Plans will be customized. for 6 Months<br /><br />
                            <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="5355.00" asp-route-planName="Customize Plan">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="5355" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="planvalid" value="Customize Plan" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>

                        </div>
                    </center>
                </div>

            </div>

            <br ?<br /><br /><div style="text-align:center;">***All prices include 15% GST***</div>
        </div>












    </div>