@{
    ViewData["Title"] = "Support Plans";
}
<div class="container">
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        One time fixation<br />
                        (For One Device)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 74.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="74.99" asp-route-planName="One time fixation(For One Device)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="One time fixation (For One Device)">
                            <input type="hidden" name="amt" value="74.99" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="One time fixation (For One Device)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        One time fixation<br />
                        (For All Devices)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 104.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="104.99" asp-route-planName="One time fixation(For All Devices)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="One time fixation (For All Devices)">
                            <input type="hidden" name="amt" value="104.99" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="One time fixation (For All Devices)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        3 Months unlimited Support<br />
                        (For One Device)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 119.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="119.99" asp-route-planName="3 Months unlimited Support(For One Device)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="3 Months unlimited Support (For One Device)">
                            <input type="hidden" name="amt" value="119.99" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="3 Months unlimited Support (For One Device)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        3 Months unlimited Support<br />
                        (For All Devices)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 149.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="149.99" asp-route-planName="3 months unlimited support(For All Devices)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="3 Months unlimited Support (For All Devices)">
                            <input type="hidden" name="amt" value="149.99" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="3 Months unlimited Support (For All Devices)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        6 months unlimited support<br />
                        (For One Device)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 224.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="224.99" asp-route-planName="6 months unlimited support(For One Device)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="6 months unlimited support (For One Device)">
                            <input type="hidden" name="amt" value="224.99" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="6 months unlimited support (For One Device)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        6 months unlimited support<br />
                        (For All Devices)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 299.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="299.99" asp-route-planName="6 months unlimited support(For All Devices)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="6 months unlimited support (For All Devices)">
                            <input type="hidden" name="amt" value="299.99" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="6 months unlimited support (For All Devices)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        1 YEAR UNLIMITED SUPPORT<br />
                        (FOR ONE DEVICE)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 371.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="371.99" asp-route-planName="1 YEAR UNLIMITED SUPPORT (FOR ALL DEVICES)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="1 YEAR UNLIMITED SUPPORT (FOR ONE DEVICE)">
                            <input type="hidden" name="amt" value="371.99" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="1 YEAR UNLIMITED SUPPORT (FOR ONE DEVICE)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
        <div class="span4">
            <div style="width:250px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                <center>
                    <h3 style="font-size:20px;height:20px;">
                        1 YEAR UNLIMITED SUPPORT<br />
                        (FOR ALL DEVICES)
                    </h3>
                    <div class="submenu">
                        <span style="text-align:left; margin-left:35px;">
                            <ul>
                                <li>Diagnostic of issues</li>
                                <li>Network Securities</li>
                                <li>Cleanup and Tune up</li>
                                <li>Performance Optimization</li>
                                <li>Unlimited times software support for agreement period</li>
                                <li>Licensed Security Software for agreement period</li>
                            </ul>
                        </span> <br>
                        <h3><b>NZD 599.99</b></h3>
                        <br />
                        <form method="post" asp-controller="Subscription" asp-action="Index" asp-route-amount="599.99" asp-route-planName="1 YEAR UNLIMITED SUPPORT (FOR ALL DEVICES)">
                            <input type="hidden" name="brandimage" value="computer1.png">
                            <input type="hidden" name="support" value="1 YEAR UNLIMITED SUPPORT (FOR ALL DEVICES)">
                            <input type="hidden" name="amt" value="599.99" />
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                            <input type="hidden" name="validity" value="1 day" />
                            <input type="hidden" name="planvalid" value="1 YEAR UNLIMITED SUPPORT (FOR ALL DEVICES)" />
                            <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                            <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="span4"> </div>
    <div class="span4"> </div>
</div>
<br />
<br />
<br />
<div style="text-align:center;">***Devices included Laptop, Desktop, Printer, Router, Ipad and mobile devices***</div>
</div>
</div>
</div>