    @{
        ViewData["Title"] = "Web Sites Plan";
    }
    <div class="container">
        <hr>
        <br><br>
        <div class="row">
            <div class="span4">
                <div style="height:180px;width:280px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:20px;">Basic(w1) NZD 225.00</h3>
                        <div class="submenu">
                            5 Pages <br />
                            Free Facebook Pages<br />
                            Free twitter Pages<br /><br />
                            <form method="post" asp-controller="subscription" asp-action="Index" asp-route="">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="225" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="Basic(w1)" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-10px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
            <div class="span4">
                <div style="height:180px;width:280px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:20px;">Economy(w2) NZD 445.00</h3>
                        <div class="submenu">
                            12 Pages <br />
                            Free Facebook Pages<br />
                            Free twitter Pages<br /><br />
                            <form method="post" action="subscription.php">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="445" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="Economy(w2)" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
            <div class="span4">
                <div style="height:180px;width:280px;box-shadow:1px 1px 4px 3px #ccc;margin-top:20px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:20px;">Deluxe(w3) NZD 575.00</h3>
                        <div class="submenu">
                            15 Pages <br />
                            Free Facebook Pages<br />
                            Free twitter Pages<br />
                            Hosting, Seo For 1 Month<br />
                            <form method="post" action="subscription.php">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="575" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="Deluxe(w3)" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <br><br>

        <div class="row">


            <div class="span4">
                <div style="height:200px;width:280px;box-shadow:1px 1px 4px 3px #ccc;margin-top:0px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:20px;">Ultimate(w4) NZD 975.00</h3>
                        <div class="submenu">
                            20-25 Pages <br />
                            Free Facebook Pages<br />
                            Free twitter Pages<br />
                            Hosting<br />
                            Seo For 1 Month<br />
                            <form method="post" action="subscription.php">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="975" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="planvalid" value="Ultimate(w4)" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>


            </div>

            <div class="span4">

                <div style="height:200px;width:280px;box-shadow:1px 1px 4px 3px #ccc;margin-top:0px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:20px;">Unlimited(w5) NZD 1775.00</h3>
                        <div class="submenu">
                            Unlimited Pages <br />
                            Free Facebook Pages<br />
                            Free twitter Pages<br />
                            Hosting<br />
                            Seo For 1 Month<br />
                            <form method="post" action="subscription.php">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="1775" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="Unlimited(w5)" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>

            </div>

            <div class="span4">
                <div style="height:200px;width:280px;box-shadow:1px 1px 4px 3px #ccc;margin-top:0px;margin-bottom:0px;float:left;padding:20px;">
                    <center>
                        <h3 style="font-size:20px;height:20px;">Customize(w6) NZD 2700.00</h3>
                        <div class="submenu">
                            For dynamic website
                            prices can be
                            customized as per
                            the requirement for 6 Months
                            <form method="post" action="subscription.php">
                                <input type="hidden" name="brandimage" value="computer1.png">
                                <input type="hidden" name="support" value="Account fixation and Network security Setup Support">
                                <input type="hidden" name="amt" value="2700" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="hidden" name="txtemail" placeholder="" value="" style="height:5px;border:1px solid #fff;" onChange="javascript:return checkEmail();">
                                <input type="hidden" name="validity" value="1 day" />
                                <input type="hidden" name="planvalid" value="Customize(w6)" />
                                <input type="hidden" name="plan" value="ii.Diagnostic of issues iii.Clean-up and Tune-up iv.Performance Optimization v.Unlimited software support for agreement period vi.Licensed Security Software for lifetime" />
                                <input type="image" src="~/img/images/order.png" alt="Submit" class="order" style="margin-top:-20px;">
                            </form>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center;"><br /><br /><br />***All prices include 15% GST***</div>
			   