@{
    ViewData["Title"] = "Disclaimer";
}
<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">Disclaimer</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Disclaimer</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1 style="color:#000000; text-align:justify; font-family:Arial; font-size:28px; margin-top:10px;">Disclaimer</h1><br />
                <p style="font-size:14px;">Techvesta Limited is an independent provider of affordable on-site technical Service to your doorstep for softwares and peripherals.Techvesta Limited has no affiliation with any of third-party companies unless such relationship is expressly specified. For permitted use and specific warranties associated with the software, hardware, and peripherals, please contact the relevant third party as they might provide free technical Service for the same.Techvesta Limited, is not responsible for third party Content provided on or through the Site and you bear all risks associated with the use of such third party Content, products and services</p>

            </div>

        </div>
    </div>

</div>