@{
    ViewData["Title"] = "Privacy";
}
    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                            <li class="active">Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h2>Privacy Policy</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span style="font-size:28px; text-align:center;"><strong>Privacy Policy</strong></span><br>
                    <br>
                    <p>
                        At Techvesta, we are committed to protecting and respecting your privacy.<br />
                        <br />
                        This policy (and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting&nbsp;<a href="https://www.techvesta.co.nz/">www.techvesta.co.nz</a>&nbsp;you are accepting and consenting to the practices described in this policy. Our Privacy Policy, in calculation to the Terms of Conditions and appropriate support program&rsquo; terms or stipulations, included as part of this Privacy Policy by reference. In case you don&rsquo;t agree to these terms and conditions at any stage, please stop using the Website(s) or services concentrated through it.<br />
                        <br />
                        Here &ldquo;You&rdquo; shall mean you, the User of the Site and &ldquo;Yourself&rdquo; deduced accordingly. &ldquo;We&rdquo; / &ldquo;Us&rdquo; means Techvesta and &ldquo;Our&rdquo; deduced accordingly. &ldquo;User(s)&rdquo; means the Visitor(s)/User(s) of the Site cooperatively and/or independently as the perspective allows. &ldquo;Service&rdquo; is defined as the support program activated by Techvesta. You have the right to know that what kind of individual information we collect, how we collect, and construe and use all or part of the information willingly or unwillingly submitted/revealed by you on our Web site(s). This policy also defines the choices available to you concerning our use of your individual information and how you can access and update this information.<br />
                        <br />
                        <strong>Information Gathering and Use</strong><br />
                        <br />
                        <strong>Individual Information</strong><br />
                        When you join us via chat, phone or email either for facility or enquiry, we need to collect personally recognizable information. We may ask you orally or may ask you to fill the registration or any other form in electronic layout. The information may include user contact information (such as First and Last name, E-mail address, Phone number, Postal address, Company name and address, etc.) This information or the contact details will be used to measure the requirements that you have concerning to home- or business-purpose technical products, including obtaining, deployment, practice, and troubleshooting linked problems, if any, and respond in your interest accordingly with the available incomes. In addition, personal information will be used to administer your account, send you a newsletter, send you marketing communications (at your sole discretion), improve our Web site and marketing determinations, behaviour research and analysis, and display content based upon your interest.<br />
                        <br />
                        <strong>Collective / Anonymous Information</strong><br />
                        As is true with most of the websites, we collect certain information automatically and supply it in log files. This information includes internet protocol (IP) addresses, browser type, internet service provider (ISP), denoting/exit pages, operating system, date/time stamp, and click stream data.<br />
                        We use this information, which does not recognize separate users, to analyse trends, to administer the site, to track users&rsquo; actions around the site and to collect demographic information about our user base as an entire. We do not link this automatically unruffled data to personally recognizable information.<br />
                        <br />
                        <strong>Technical / Device Information</strong><br />
                        This is vital for accepting the type of service that your system needs. In the procedure, we may ask for information associated to: (a) age of your computer or peripherals, (b) make and model thereof, (c) hardware, software or peripherals involved to it, (e) ailment of the computer/peripherals, (f) symptoms/errors/notifications associated to alignment of software or hardware products, and other information necessary for the successful service transfer and result.<br />
                        <br />
                        <strong>Tell a Friend</strong><br />
                        If you choose to use our recommendation service to tell a friend about our site or a precise product in our store, we will ask you for your friend&rsquo;s name and email address. We will automatically send your friend a one-time email alluring him or her to visit the site. Techvesta stores this information for the sole determination of sending this one-time email and tracking the success of our appointment program. Your friend may contact us at&nbsp;<a href="mailto:support@techvesta.co.nz">support@techvesta.co.nz</a>&nbsp;to request us to remove this information from our database.<br />
                        <br />
                        <strong>Blog</strong><br />
                        Our Web site deals publicly reachable blogs or community forums. You should be responsive that any information you offer in these areas may be read, collected, and used by others who access them. To request removal of your individual information from our blog or community forum, contact us at&nbsp;<a href="mailto:support@techvesta.co.nz">support@techvesta.co.nz</a>. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are not able to do so and why.<br />
                        <br />
                        <strong>Remote access and analytical process</strong><br />
                        Apart from that you recognize and decide that some information is accessed and stored by the analytical tool during the remote-access clearly for service or support purposes. However, experts will not use the remote-access session to reach the intimate or penetrating information stored on a user machine or network. And for your information, the remote access is established only after your permission. Our analytical tool may collect a wide variety of useful information about the state of a computer system and the applications on it, excluding any penetrating information such as Web sites visited, e-mail messages, e-mail addresses sent to, passwords, profiles, etc. The collected information will be routed to server in an encoded format via the secure Internet connection. The software used by Techvesta for the remote access or analytical does have the End-User-License-Agreement (EULA) to restrict or authorize you for their corresponding usage.<br />
                        <br />
                        <strong>Live Monitoring of Services</strong><br />
                        To do business in a moral way, Techvesta holds the right to monitor the on-line and off-line sessions between user and a technician. This observing helps us to deliver quality-based services, raise the level of customer-satisfaction, and handle any argument in future. Besides, recorded session abets to create a knowledgebase based on real-time or practical issues, and/or conduct internal market research to shape the company&rsquo;s policy to have a long-term relationship with you.<br />
                        <br />
                        <strong>Cookies and other Tracking Technologies</strong><br />
                        A cookie is a text file that is provisionally stored on your system hard-disk or device so that the browser installed on your machine can connect with the desired web server in a unified manner. We use both session ID cookies and insistent cookies. A session ID cookie expires when you close your browser. A tenacious cookie remains on your hard drive for an extended period. We use cookies to help us to track your preferences, which is significant for us in making the website more applicable or friendly and useful to your searches. You can remove tenacious cookies by following directions provided in your Internet browser&rsquo;s &ldquo;help&rdquo; directory. If you discard cookies, you may still use our site, but your capability to use some areas of our site, such as the online store, will be limited.<br />
                        <br />
                        <strong>Online Interactive Promotion</strong><br />
                        We partner with a third party ad network to both displays promotion on our website and to manage our promotion on other sites. Our ad network partners use cookies and web inspirations to collect non-personally recognizable information about your activities on this and other web sites to provide you targeted promotion based upon your interests. Web inspirations are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users. In divergence to cookies, which are stored on a user&rsquo;s computer hard drive, Web beacons are embedded imperceptibly on Web pages and are about the size of the period at the end of this sentence. We do not tie the information grouped by clear gifs to our customers&rsquo; personally recognizable information. If you wish to not have this information used for the purpose of serving you targeted ads. Please note this does not opt you out of being served promotion. You will continue to receive generic ads.<br />
                        <br />
                        <strong>Third Party Tracking</strong><br />
                        The use of tracking technologies by our service providers, technology partners or other 3rd party resources (such as social media) on the site is not covered by our confidentiality policy. These 3rd parties may use cookies, clear gifs, images, and scripts to help them better manage their content on our site. We do not have access or control over these technologies. We do not tie the information collected to our Customers&rsquo; or Users&rsquo; personally recognizable information.<br />
                        <br />
                        <strong>Information distribution and disclosure</strong><br />
                        <br />
                        <strong>Individual Information</strong><br />
                        Techvesta is the sole owner of the information unruffled through the web site/phone/e-mail. We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company, and its subsidiaries. We may share your personal information with third parties only in the ways that are labelled in this Privacy Policy. We will not sell or rental this information to other people or non-affiliated companies excepting to provide products or facilities you have requested, with your authorization. Herein you will find how we share and disclose the information under different conditions:
                    </p>
                    <ul>
                        <li>We may provide your personal information to companies that deliver facilities to help us with our business actions such as shipping your order, offering customer service, and sending marketing communications. These companies are authorized to use your personal information only as necessary to provide these services to us and are contractually obligated to keep your information intimate.</li>
                    </ul>
                    <ul>
                        <li>Advertisers and advertising networks that require the data to select and serve relevant adverts to you and others. We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day). We may also use such aggregate information to help advertisers reach the kind of audience they want to target (for example, women in a specific postcode). We may make use of the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience.</li>
                        <li>
                            Analytics and search engine providers that assist us in the improvement and optimisation of our site.<br />
                            <strong>We may also reveal your personal information:</strong>
                        </li>
                        <li>As required by law, such as to fulfil with a subpoena, or similar legal process</li>
                        <li>When we believe in good faith that revelation is needed to protect our rights, protect your safety or the safety of others, consider fraud, or respond to a government request</li>
                    </ul>
                    <p>
                        &nbsp; If Techvesta is complicated in a union, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a conspicuous notice on our Web site of any change in ownership or uses of your personal information, as well as any selections you may have concerning your individual information.<br />
                        <br />
                        <strong>Techvesta Customers with customers or leads in the UK/EU</strong><br />
                        <br />
                        If you store personal information like email addresses or names of customers or potential customers in the EU/UK, you are required to comply with the General Data Protection Regulation (GDPR).<br />
                        <br />
                        <strong>Your rights</strong><br />
                        <br />
                        You have the right to ask us not to process your personal data for marketing purposes. We will inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us via our contact page.<br />
                        Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers, and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.<br />
                        <br />
                        <strong>Access and Choice</strong><br />
                        If you're individual evidence changes, you may correct, update, modify, remove, or ask to have it unconcerned by making the change on your user account settings page by emailing our Customer Support at&nbsp;<a href="mailto:supprt@techvesta.co.nz">supprt@techvesta.co.nz</a>&nbsp;or by communicating us by telephone or postal mail at the contact information itemized below. If you no longer desire our service, please contact us directly. We will retort to your request within 30 days. We will recall your information for as long as your account is energetic or as needed to deliver you services. We will retain and use your information as essential to comply with our legal responsibilities, resolve disputes, and enforce our agreements.<br />
                        <br />
                        <strong>Opt-Out Preferences</strong><br />
                        If you wish to donate to our newsletter or other marketing material, we will use your name and email address to send the newsletter to you. Out of admiration for your privacy, you may choose to stop getting our newsletter or marketing emails by following the unsubscribe guidelines included in the deliverables, configuring the email predilections in your account settings page or you can contact us at&nbsp;<a href="mailto:supprt@techvesta.co.nz">supprt@techvesta.co.nz</a>.<br />
                        <br />
                        <strong>How we will keep your information safe?</strong><br />
                        <br />
                        Techvesta measures to protect your privacy concluded in-house practices include:<br />
                        <br />
                        <strong>Security Capabilities &amp; Policy for Transmission of Payment Card Data</strong><br />
                        <br />
                        <em>What information do we collect and how we use it?</em><br />
                        When you place an order through this website, we need to know your name, e-mail, and credit card details if paying by credit card. This allows us to process and fulfil your order successfully. It also helps us in maintaining your account.<br />
                        <br />
                        <em>How do we protect customer information at Techvesta?</em><br />
                        When you place orders, we use a secure server. The secure server software (SSL) encrypts all information you input before it is sent to us. Furthermore, all the sensitive customer data we collect is protected by several layers of encryption and several layers of security to prevent unauthorized access.<br />
                        <br />
                        <em>Credit card details</em><br />
                        All credit card payments are processed securely. Techvesta Ltd. does not store any credit card information on our servers.<br />
                        <br />
                        <em>What about cookies?</em><br />
                        "Cookies" are small pieces of information that are stored by your browser on your computer's hard drive. Our cookies do not contain any personally identifying information. They allow you to place your online order and to login once you are subscribed. Most Web browsers automatically accept cookies, but you can usually change your browser to prevent that. You will need cookies enabled to use Techvesta website.<br />
                        <br />
                        <em>Your consent</em><br />
                        By using our website, you consent to the collection and use of this information by Techvesta Ltd. If we decide to change our Security Capabilities &amp; Policy for Transmission of Payment Policy, we will post those changes here so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.<br />
                        <br />
                        <em>Credit card payment</em><br />
                        Credit Card payments are made directly through a&nbsp;<strong>Strong SHA-2 &amp; 2048-bit encryption</strong>&nbsp;software to ensure your personal details are kept safe. We use Extended Validation (EV) SSL Certificate, which is the highest class of SSL Certificate available. None of your payment details are stored - this ensures you will be happy with the security of your transaction.<br />
                        <br />
                        <strong>Encoded Web site and model code-of-conduct</strong><br />
                        The data that we collect from you is stored in New Zealand (on our secured servers) but may be transferred to, and stored at, a destination outside New Zealand. It may also be processed by staff operating outside New Zealand who work for us or for one of our suppliers. Such staff maybe engaged in, among other things, the fulfilment of your order and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.<br />
                        All information you provide to us is stored on our secure servers. Any payment transactions will be encrypted using SSL technology. While ordering our plan or making payment online you can see the lock icon on the address bar or somewhere below the page. Also, we have a well-protected IT infrastructure, and our employees adhere with a model code-of-conduct to make sure your trusted or sensitive information are secure. In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions, and they are subject to a duty of confidentiality.<br />
                        <br />
                        <br />
                        <strong>Ideal verification method</strong><br />
                        Once, you are enrolled with us, we will send you a welcome mail to cross-verify password and log-on name. This is done to make sure that the services or products that we serve reach the right party address or destination. In case of any changes with your personally identifiable information, we provide you with a safe and secure way to get those amended successfully.<br />
                        <br />
                        <strong>Third Party Links</strong><br />
                        Our Site includes links to other websites whose privacy practices may differ from those of Techvesta. If you submit personal information to any of those sites, your information is governed by their privacy policies. We encourage you to carefully read the privacy policy of any such website you visit. Our website also includes social media features, such as the Facebook "Like" button, links to our several social media pages and widgets, such as the &ldquo;Share&rdquo; this button or interactive mini programs. These Features may collect your IP address, which page you are visiting on our site, and may set a cookie to allow the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our Site. Your connections with these Features are governed by the privacy policy of the company providing it.<br />
                        <br />
                        <strong>Changes to this Privacy Policy</strong><br />
                        We may update this privacy policy to reflect changes to our information collecting and usage practices. If we make any substantial changes, we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We inspire you to occasionally review this page for the latest information on our privacy practices.<br />
                        <br />
                        Questions, comments and requests regarding this privacy policy are welcomed and should be sent via our Contact page.
                    </p>
                </div>
            </div>
        </div>
    </div>