@{
    ViewData["Title"] = "Refund Policy";
}
    <div role="main" class="main">

        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                            <li class="active">Refund/Return/Warrantee/Cancellation Policies</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h2>Refund/Return/Warrantee/Cancellation Policies</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
               <div class="col-sm-12">
                    <span style="font-size:28px; text-align:center;"><strong>Refund/Return/Warrantee/Cancellation Policies</strong></span><br><br>
                    <p>Our returns policy is in addition to your rights under the Consumer Guarantees Act 1993. Under the <strong>30 Days Right of Refund policy</strong>, you can cancel any product/service for a full refund within 30 days of purchase. <br /> For <strong>incident-based plans</strong>, you will be eligible for refund when any of the following criterion are met:<br /> 1. You have all the prerequisites which were required to resolve the problem and Issue was not resolved by a Techvesta Limited team member.<br /> 2. 30 Days have not passed since the issue was last resolved by Techvesta Ltd.&nbsp; technician.<br /> 3. If your sale plan includes any software purchase, the price of the software will not be refunded in case of cancellation.</p>
                    <p><strong>Disputes about Billing: -</strong></p>
                    <p>If you disagree with any charge made to your account, you agree to contact us: support@techvesta.co.nz&nbsp;with a view to resolving the dispute prior to making a formal notification to your credit card company. You must contact us either by email or telephone, stating your reasons for dispute of the charge. This will enable us to assess your complaint accurately and promptly and, where justified, credit your card with the disputed amount in a timely manner to avoid any further inconvenience to you.<br /> <br /> </p>
                </div>
            </div>
        </div>
    </div>