@{
    ViewData["Title"] = "About";
}

<div class="slider-container">
    <div class="slider" id="revolutionSlider">
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
            <img src="~/img/about.jpg" width="100%" data-fullwidthcentering="on" alt="Web Designing Company" title="Web Designing Company">
            </li>
        </ul>
    </div>
</div>
<div role="main" class="main">
    <div class="container">
        <h2>The New Way to <strong>Success</strong></h2>
        <div class="row">
            <div class="span10">
                <p class="lead"> At Techvesta, we tend to go beyond any boundaries so that we can imagine and deliver <span class="alternative-font">great ideas</span> for our clients. We know the value of your trust that you put on us and, we at Techvesta always do our best to exceed the expectation. </p>
            </div>
            <div class="span2"> <a asp-action="ContactUs" asp-controller="Home" class="btn btn-large btn-primary pull-top">Get In Touch!</a> </div>
        </div>
        <hr class="tall">
        <div class="row">
            <div class="span8">
                <h1 title="Digital Marketing Company ">Who we are?</h1>
                <p style="text-align:justify;"><span class="alternative-font"> Techvesta </span> owned & operated by Techvesta Limited and trading as Techvesta, is a New Zealand registered IT service provider company located in Hamilton. We provide a wide range of IT services which includes web development, website design, Logo design, WordPress support, e-commerce solutions, corporate branding, Search Engine Optimization (SEO) and many more. </p>
                <p style="text-align:justify;">Our Team at <span class="alternative-font"> Techvesta </span>, is passionate about helping individuals and businesses (small or large) to reach their full potential. We believe that your solution needs to be as unique as your business. That is why we prefer to understand your business first and take enough time to learn about you, understand your goals, your vision and what you want to achieve in future, then we develop implement and manage the complete IT Service. </p>
            </div>
            <div class="span8">
                <h1 title="Digital Marketing Company ">Our Mission</h1>
                <p style="text-align:justify;">Our mission is to help businesses build the future and further grow into successful companies through innovative and practical business solutions in software world. </p>
            </div>
            <div class="span8">
                <h1 title="Digital Marketing Company ">Our Vision</h1>
                <p style="text-align:justify;">
                    We are built on a strong foundation of core values, which is not just a set of fancy words, are designed to help both individuals & businesses to grow and reach their full potential.
                    With a team of passionate people, we diligently play our part in making this vision a reality, whether by developing in-house projects or working for our customers, to bring their ideas to life.
                    Also, we are eager to see what the future holds, and we make sure to always remain at the forefront of technology, so that we can meet our customers’ expectations.
                </p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="span4">
                <center>
                    <img src="~/img/abt.png" width="60%">
                </center>
            </div>
        </div>
    </div>
</div>