@model TechVesta.Web.DTO.ContactDTO
@{
    ViewData["Title"] = "Contact Us";
}

@section Styles{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
}
<div class="container">
    <hr>
    <div class="row">
        <div class="span6">
            <div class="alert alert-success hidden" id="contactSuccess">
                <strong>Success!</strong> Your message has been sent to us.
            </div>
            <div class="alert alert-error hidden" id="contactError">
                <strong>Error!</strong> There was an error sending your message.
            </div>
            <h1 style="color:#0077cc;">Enquiry <span style="font-size:18px;"> Drop us a line using contact form below </span></h1>
            <form name="contact" asp-action="ContactUs" asp-controller="Home" onSubmit="return validate_form()" method="post" class="contact">
                <div class="row controls">
                    <div class="span3 control-group">
                        <label asp-for="Name">Your Name: *</label>
                        <input type="text" asp-for="Name" value="" maxlength="100" class="span3" />
                    </div>
                    <div class="span3 control-group">
                        <label asp-for="Email">Your email address *</label>
                        <input type="email" asp-for="Email" value="" maxlength="100" class="span3" />
                    </div>
                </div>
                <div class="row controls">
                    <div class="span3 control-group">
                        <label asp-for="Number">Contact Number: *</label>
                        <input type="tel" asp-for="Number" value="" maxlength="10" class="span3" />
                    </div>
                    <div class="span3 control-group">
                        <label asp-for="Service">Required Services</label>
                        <input type="text" asp-for="Service" value="" maxlength="100" class="span3" />
                    </div>
                </div>
                <div class="row controls">
                    <div class="span6 control-group">
                        <label asp-for="Comments">Tell Us Everything: *</label>
                        <textarea maxlength="5000" asp-for="Comments" rows="10" class="span6"></textarea>
                    </div>
                </div>
                <div class="btn-toolbar">
                    <input type="submit" value="Send Message" class="btn btn-primary btn-large" data-loading-text="Loading...">
                </div>
                <div id="errorlbl" style="color:#F00;"></div>

            </form>
        </div>
        <div class="span5" style="margin-left:100px;">
            <br><br>
            <img src="~/img/logo.png">
            <hr>
            <div id="map" style="height:250px;z-index:1;"></div>

            <div style="margin-left:80px;">
                <h4 style="font-size:20px;font-family:Tahoma,sans-serif;color:#330066;"></h4>
                <b>Techvesta Limited</b>
                <h5>5 MCMEEKAN AVENUE , CHARTWELL </h5>
                <h5>HAMILTON ,3210 , NZ</h5>
                <h5>Email : <a href='mailto : support@techvesta.co.nz '>support@techvesta.co.nz </a></h5>

                <h5>
                    Call Us : +64-210-812-9267 <br><br />
                    <b>Office Hrs</b><br>
                    Mon-Fri:  9 AM - 5 PM (NZ ST)<br />
                    Sat-Sun:  Closed
                </h5>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script>
        var map = L.map('map').setView([-37.751991, 175.289007], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([-37.751991, 175.289007]).addTo(map)
            .bindPopup('TechVesta')
            .openPopup();

        function validate_form() {
            if (document.contact.Name.value == "") {
                document.getElementById('errorlbl').innerHTML = '<span class=error>Please fill in the Name box!</span>';
                document.contact.Name.focus();
                return false;
            }
            if (document.contact.Number.value == "") {
                document.getElementById('errorlbl').innerHTML = '<span class=error>Please fill in the Contact Number box!</span>';
                document.contact.Number.focus();
                return false;
            }
            if (document.contact.Number.value != "") {
                var y = document.contact.Number.value;

                if (isNaN(y) || y.indexOf(" ") != -1) {
                    document.getElementById('errorlbl').innerHTML = '<span class=error>Please fill in the Valid Mobile No.! i.e. No white space and Numeric only</span>';
                    document.contact.Number.focus();
                    return false;
                }
                if (y.length != 10) {
                    document.getElementById('errorlbl').innerHTML = '<span class=error>Please fill in the Valid Mobile No.! i.e. 10 digits only.</span>';
                    document.contact.Number.focus();
                    return false;
                }
            }
            if (document.contact.Email.value == "") {
                document.getElementById('errorlbl').innerHTML = '<span class=error>Please fill in the E-mail Id box!</span>';
                document.contact.Email.focus();
                return false;
            }
            if (document.contact.Comments.value == "") {
                document.getElementById('errorlbl').innerHTML = '<span class=error>Please fill in the Query box!</span>';
                document.contact.Comments.focus();
                return valid;
            }
            document.getElementById('errorlbl').innerHTML = '<span class=success>Your Query has been Sent Successfully!</span>';
            return true;
        }
    </script>
}