    @{
        ViewData["Title"] = "Home Page";
    }

    <div id="content" class="content full">

        <div class="slider-container">
            <div class="slider" id="revolutionSlider">
                <ul>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="~/img/slides/slide-bg1.jpg" data-fullwidthcentering="on" alt="">

                        <!--<div class="caption sft stb visible-desktop"
                                                                     data-x="42"
                                                                     data-y="180"
                                                                     data-speed="300"
                                                                     data-start="1000"
                                                                     data-easing="easeOutExpo"><img src="~/img/slides/slide-title-border.png" alt="Web Designing Company In Delhi"></div>

                                                                <div class="caption top-label lfl stl"
                                                                     data-x="92"
                                                                     data-y="180"
                                                                     data-speed="300"
                                                                     data-start="500"
                                                                     data-easing="easeOutExpo">DO YOU NEED A NEW</div>

                                                                <div class="caption sft stb visible-desktop"
                                                                     data-x="342"
                                                                     data-y="180"
                                                                     data-speed="300"
                                                                     data-start="1000"
                                                                     data-easing="easeOutExpo"><img src="~/img/slides/slide-title-border.png" alt="Web Designing Company In Gurgaon"></div>

                                                                <div class="caption main-label sft stb"
                                                                     data-x="0"
                                                                     data-y="230"
                                                                     data-speed="300"
                                                                     data-start="1500"
                                                                     data-easing="easeOutExpo">WEB SOLUTION?</div>

                                                                <div class="caption bottom-label sft stb"
                                                                     data-x="50"
                                                                     data-y="280"
                                                                     data-speed="500"
                                                                     data-start="2000"
                                                                     data-easing="easeOutExpo">We Create Awesome Interactive Website Designing</div>

                                                                <div class="caption fade"
                                                                     data-x="530"
                                                                     data-y="50"
                                                                     data-speed="500"
                                                                     data-start="2500"
                                                                     data-easing="easeOutExpo"><img src="~/img/slides/slide-concept.png" alt="Real Estate Web Designing Company "></div>
                        -->
                    </li>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="~/img/slides/slide-bg2.jpg" data-fullwidthcentering="on" alt="">

                        <!--<div class="caption fade"
                             data-x="0"
                             data-y="90"
                             data-speed="500"
                             data-start="200"
                             data-easing="easeOutExpo"><img src="~/img/slides/slide-concept-2.png" alt="Digital Marketing Company "></div>

                        <div class="caption main-label sft stb"
                             data-x="550"
                             data-y="200"
                             data-speed="300"
                             data-start="1500"
                             data-easing="easeOutExpo" style="font-size:53px;">ONLINE MARKETING</div>

                        <div class="caption bottom-label sft stb"
                             data-x="570"
                             data-y="250"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">The Relationship Between Advertiser, And Customer</div>-->

                    </li>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="~/img/slides/slide-bg3.jpg" data-fullwidthcentering="on">
                    </li>
                </ul>
            </div>
        </div>

        <div class="home-intro">
            <div class="container">

                <div class="row">
                    <div class="span8">
                        <!--                                <span style="color:#FFF;">Why choose Techvesta Limited?</span>
                        -->
                        <p>
                            Our team is made up of amazing individuals who provide quality services and the results our clients deserve.
                        </p>
                    </div>
                    <div class="span4">
                        <div class="get-started">
                            <a href="contact-us.html" class="btn btn-large btn-primary pull-top">Get In Touch!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">

            <div class="row center">
                <div class="span12">
                    <h2 class="short">
                        Simple, Beautiful & User-Friendly <strong class="inverted">Digital Solutions</strong>
                    </h2>
                    <p class="featured lead" style="text-align:justify;">
                        At Techvesta, we keep our process simple and deliver value to customers through innovative and practical business solutions. Our expert IT professionals provide high quality & user-friendly applications that suits our customers’ need. They are trained on new concepts and technology to meet the unique demand of your business in a highly effective way.

                    </p>
                </div>
            </div>

        </div>

        <div class="home-concept">
            <div class="container">

                <div class="row center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="span2 offset1">
                        <div class="process-image">
                            <img src="~/img/home-concept-item-1.png" alt="Web Designing Company" title="Web Designing Company " />
                            <strong>Strategy</strong>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="process-image">
                            <img src="~/img/home-concept-item-2.png" alt="Web Designing Company " title="Web Designing Company " />
                            <strong>Planning</strong>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="process-image">
                            <img src="~/img/home-concept-item-3.png" alt="Web Designing Company" title="Web Designing Company " />
                            <strong>Build</strong>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <div class="project-image">
                            <div id="fcSlideshow" class="fc-slideshow">
                                <ul class="fc-slides">
                                    <li><a href="#"><img src="~/img/projects/1.png" alt="Digital Marketing Company " title="Digital Marketing Company " /></a></li>

                                    <li><a href="#"><img src="~/img/projects/2.png" alt="Digital Marketing Company " title="Digital Marketing Company " /></a></li>
                                    <li><a href="#"><img src="~/img/projects/3.jpg" alt="Digital Marketing Company " title="Digital Marketing Company " /></a></li>
                                </ul>
                            </div>
                            <strong class="our-work">Our Expertise</strong>
                        </div>
                    </div>
                </div>

                <hr class="tall" />

            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="span8">
                    <h2>What <strong>we do?</strong></h2>
                    <div class="row">
                        <div class="span4">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-file"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter" title=""><a href="Web-Solutions.html">Website Development </a></h4>
                                    <p class="tall" style="text-align:justify;">
                                        At Techvesta, we offer the quality services through different platforms like PHP, WordPress, Magento, Shopify, Laravel etc. using different specialized methods such as XML Flash, XHTML.
                                    </p>
                                </div>
                            </div>

                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-ok"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter" title=""><a href="Software-Development.html">Software Development</a></h4>
                                    <p class="tall" style="text-align:justify;">

                                        Our experienced team provides reliable software solutions to individuals and businesses from a broad range of industries. We cover areas such as SaaS, mobile apps (Android, iOS, Windows Mobile), desktop applications (Windows, macOS, Linux), and web solutions.


                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter" title=""><a href="Web-Design.html">Interactive Website Designing</a> </h4>
                                    <p class="tall" style="text-align:justify;">An interactive website creates positive experiences for your customers. Whether you are after an eCommerce website, high converting landing pages, or something specific to your industry, our expert team can design the perfect site for your business!</p>
                                </div>
                            </div>

                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="icon-google-plus"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter" title=""><a href="SEO.html">Search Engine Optimization </a></h4>
                                    <p class="tall" style="text-align:justify;">

                                        Search Engine Optimization (SEO) refers to the method of optimising your content so that your website achieves higher rankings in major search engines such as Google. SEO is an integral part of today’s digital marketing & our qualified team will help to promote your website with quality leads and increased customer engagement & exposure.

                                    </p>
                                </div>
                            </div>





                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h2>Who we are?</h2>
                    <p class="tall" style="text-align:justify;">
                        Techvesta (owned & operated by Techvesta Limited) is a New Zealand registered business based in Hamilton.  <br>
                        <br>
                        We as a team are passionate about helping individuals and businesses (small, medium, or large) to reach their full potential. We understand that it can be a long journey with number of important decisions to make. So, we aim to build a long-term relationship based on trust which is earned by delivering real solutions that will make your business journey as easy as possible.
                    </p>

                </div>
            </div>
        </div>

    </div>

